<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns:wicket="http://wicket.apache.org/">
	<body>
		<wicket:panel>
			<span id="loginSpan" wicket:id="login"/>
			<a id="logout-button-top" href="#" wicket:id="homePageLink">
				<wicket:message key="userDetailsPanel.home"/>
			</a>
			<a id="logout-button-top" href="#" wicket:id="seeGamesPageLink">
				<wicket:message key="userDetailsPanel.seeGames"/>
			</a>
			<a id="logout-button-top" href="#" wicket:id="createGamePageLink">
				<wicket:message key="userDetailsPanel.createGame"/>
			</a>
			<a id="logout-button-top" href="#" wicket:id="logoutLink">
				<wicket:message key="userDetailsPanel.logout"/>
			</a>
<!-- 			<select wicket:id="selectLanguage"></select> -->
		</wicket:panel>
	</body>
</html>