body {
	background-color:#333333;
	font-family:"Trebuchet MS",Verdana,Helvetica,Arial,sans-serif;
	font-size:14px;
	margin:0;
}
#header {
	background-color:#333333;
	border-bottom:3px solid #3322FF;
	color:#CCCCCC;
	height:129px;
}
#header-content {
	margin:auto;
	width:1000px;
}
#main {
	background-color:#CCCCEE;
	min-height:449px;
}
#main-content {
	background-color:#CCCCEE;
	display:table;
	margin:0px;
	width:1020px;
	padding-left:9px;
	padding-right:9px;
}
#footer {
	background-color:#333333;
	border-top:3px solid #3322FF;
	clear:both;
	color:#CCCCCC;
	padding:20px 0;
	text-align:center;
	font-size: 12px;
}

#leftsidebar {
	clear:left;
	display:table;
	float:left;
	margin-right:0;
	width:200px;
	text-align:center;
}

div.pageTitle {
	font-family:Verdana;
	font-size:17px;
	margin-top:34px;
	text-align:justify;
	-moz-border-radius-bottomleft:5px;
	-moz-border-radius-bottomright:5px;
	-moz-border-radius-topleft:5px;
	-moz-border-radius-topright:5px;
}
div.mapHolder {
	padding-top:20px;
	padding-right:10px;
	float:left;
	height:310px;
	width:680px;
}
div.rightBar {
	padding-top:10px;
	padding-left:10px;
	padding-right:10px;
	padding-bottom:10px;
	margin-top:20px;
	margin-left:10px;
	float:right;
	width:280px;
/* 	height:300px; */
/* 	background-color: #332F00; */
	color: #FFFFFF;
	-moz-border-radius-bottomleft:5px;
	-moz-border-radius-bottomright:5px;
	-moz-border-radius-topleft:5px;
	-moz-border-radius-topright:5px;
	text-align: justify;
	font:arial;
	font-size:23px;
}
#mapCanvas {
	width: 100%;
	height: 100%;
}

div.column-center {
	margin-left:300px;
	margin-top:10px;
	width:400px;
}
div.common-form {
	text-align:center;
}
#login-form {
	margin-bottom:210px;
}

div.formLine {
	clear:both;
	float:none;
}
div.label {
	clear:left;
	float:left;
	padding-top:10px;
	text-align:left;
	width:40%;
}
div.entry {
	clear:right;
	float:left;
	margin-top:10px;
	width:60%;
}
div.value {
	clear:right;
	float:left;
	margin-top:10px;
	width:60%;
}
div.button-center {
	clear:both;
	padding:10px;
}
#mainButtons-div {
	clear:left;
	height:63px;
	padding:28px 0;
	width:1000px;
}
.left-button-div {
	clear:left;
	float:left;
}
.center-button-div {
	clear:none;
	float:left;
	margin-left:89px;
}
#login-button {
	background:#0f9ebf url(../images/viewActiveGames-button.png) repeat-x scroll 0 0;
	border:1px solid #0F7EFF;
	color:#FFFFFF;
	display:block;
	font-family:Helvetica,Arial,Sans-serif;
	font-size:33px;
	font-size-adjust:none;
	font-stretch:normal;
	font-style:normal;
	font-variant:normal;
	font-weight:bold;
	height:46px;
	line-height:normal;
	padding:8px 10px;
	text-align:center;
	text-decoration:none;
	text-shadow:0 1px 0 #333333;
	width:250px;
}
#login-button:hover, login-button:focus {
	background-position:0 -5px;
	color:#CCCCCC;
}
#login-button:active {
	background-image: none;
}
#register-button {
	background:#0f9ebf url(../images/viewActiveGames-button.png) repeat-x scroll 0 0;
	border:1px solid #0F7EFF;
	color:#FFFFFF;
	display:block;
	font-family:Helvetica,Arial,Sans-serif;
	font-size:33px;
	font-size-adjust:none;
	font-stretch:normal;
	font-style:normal;
	font-variant:normal;
	font-weight:bold;
	height:46px;
	line-height:normal;
	padding:8px 10px;
	text-align:center;
	text-decoration:none;
	text-shadow:0 1px 0 #333333;
	width:250px;
}
#register-button:hover, register-button:focus {
	background-position:0 -5px;
	color:#CCCCCC;
}
#register-button:active {
	background-image: none;
}

.left-button-div {
	clear:left;
	float:left;
}

#createGame-button {
	background:#0f9ebf url(../images/viewActiveGames-button.png) repeat-x scroll 0 0;
	border:1px solid #0F7EFF;
	color:#FFFFFF;
	display:block;
	font-family:Helvetica,Arial,Sans-serif;
	font-size:33px;
	font-size-adjust:none;
	font-stretch:normal;
	font-style:normal;
	font-variant:normal;
	font-weight:bold;
	height:46px;
	line-height:normal;
	padding:8px 10px;
	text-align:center;
	text-decoration:none;
	text-shadow:0 1px 0 #333333;
	width:250px;
}
#createGame-button:hover, createGame-button:focus {
	background-position:0 -5px;
	color:#CCCCCC;
}
#createGame-button:active {
	background-image: none;
}
#viewActiveGames-button {
	background:#0f9ebf url(../images/viewActiveGames-button.png) repeat-x scroll 0 0;
	border:1px solid #0F7EFF;
	color:#FFFFFF;
	display:block;
	font-family:Helvetica,Arial,Sans-serif;
	font-size:33px;
	font-size-adjust:none;
	font-stretch:normal;
	font-style:normal;
	font-variant:normal;
	font-weight:bold;
	height:46px;
	line-height:normal;
	padding:8px 10px;
	text-align:center;
	text-decoration:none;
	text-shadow:0 1px 0 #333333;
	width:250px;
}
#viewActiveGames-button:hover, createGame-button:focus {
	background-position:0 -5px;
	color:#CCCCCC;
}
#viewActiveGames-button:active {
	background-image: none;
}
li.gameDetails, div.gameDetails {
	background-color:#E0E0E0;
	height:190px;
	margin-top:10px;
	margin-left: -40px;
	padding:10px 10px 10px 40px;
	text-align:center;
/* 	width:273px; */
	-moz-border-radius-bottomleft:15px;
	-moz-border-radius-bottomright:15px;
	-moz-border-radius-topleft:15px;
	-moz-border-radius-topright:15px;
}
li.gameDetails {
	list-style: none;
}
li.gameDetails-alt {
	background-color:#C9C9C9;
	height:190px;
	margin-left: -40px;
	margin-top:10px;
	padding:10px 10px 10px 40px;
	text-align:center;
/* 	width:273px; */
	-moz-border-radius-bottomleft:15px;
	-moz-border-radius-bottomright:15px;
	-moz-border-radius-topleft:15px;
	-moz-border-radius-topright:15px;
	list-style: none;
}
#details-button {
	-moz-border-radius-bottomleft:5px;
	-moz-border-radius-bottomright:5px;
	-moz-border-radius-topleft:5px;
	-moz-border-radius-topright:5px;
	-moz-background-clip:border;
	-moz-background-inline-policy:continuous;
	-moz-background-origin:padding;
	background:#0F9EBF url(../images/viewActiveGames-button.png) repeat-x scroll 0 0;
	border:1px solid #0F7EFF;
	color:#FFFFFF;
	display:block;
	font-family:Helvetica,Arial,Sans-serif;
	font-size:16px;
	font-size-adjust:none;
	font-stretch:normal;
	font-style:normal;
	font-variant:normal;
	font-weight:bold;
	height:20px;
	line-height:normal;
	margin-left:-18px;
	padding:2px 0 1px;
	text-align:center;
	text-decoration:none;
	text-shadow:0 1px 0 #333333;
	width:113px;
}
#details-button:hover, watch-button:focus {
	background-position:0 -5px;
	color:#CCCCCC;
}
#details-button:active {
	background-image: none;
}
div.paginator {
	-moz-border-radius-bottomleft:15px;
	-moz-border-radius-bottomright:15px;
	-moz-border-radius-topleft:15px;
	-moz-border-radius-topright:15px;
	background-color:#0F9EBF;
	display:block;
	margin-bottom:1.5em;
	margin-left:28em;
	margin-top:7px;
	padding:10px;
	position:fixed;
	top:195px;
	width:7em;
}
div.paginator a{
	color:#0C8CAF;
	font-size:19px;
	text-decoration:none;
}

div.paginator ul li {
	background:#E0E0E0 none repeat scroll 0 0;
    border:medium none;
    display:block;
    float:none;
    height:2.2em;
    margin:0 0 0.1em;
    overflow:hidden;
    width:2.5em;
}


div.paginator ul li a {
    color:#FFFFFF;
    display:block;
    padding:0.5em;
    text-align:center;
}

div.paginator ul li span em {
	background-color: #E0E0E0;
    color:#000000;
    display:block;
    padding:0.6em;
    text-align:center;
}

div.paginator .current, .first, .last, .next, .previous, .paginatorTitle{
    background-color: #E0E0E0;
    color:#000000;
    display:block;
    padding:0.5em;
    text-align:center;
    margin-bottom:2px;
    -moz-border-radius-bottomleft:5px;
	-moz-border-radius-bottomright:5px;
	-moz-border-radius-topleft:5px;
	-moz-border-radius-topright:5px;
	font-weight:bold;
	height:23px;
}
div.paginator .current {
	margin-left:2px;
}
div.paginator .next, .previous {
	background-color: #C9C9C9;
}
div.paginatorTitle {
    background-color:#0F9EBF;
    color:#FFFFFF;
	margin-left:-5px;
	width:78px;	
	-moz-border-radius-bottomleft:5px;
	-moz-border-radius-bottomright:5px;
	-moz-border-radius-topleft:5px;
	-moz-border-radius-topright:5px;
}

#container {
	text-align : left;
}
#container div.topSection {
	clear : both;
	float : none;
}
#container div.bottonSection {
	clear : both;
	float : none;
}
div.leftSubSection, div.rightSubSection {
	margin : 0.1em;
	border : 1px solid;
}
div.rightSubSection {
	width : 57.5%;
	clear : right;
	float : right;
}
div.leftSubSection {
	clear : left;
	float : left;
	width : 39.5%;
}
div.topSection div.rightSubSection {
/* 	height : 335px; */
}
div.topSection div.leftSubSection {
	height : 335px;
}
div.subSectionTitle {
	text-align : center;
	margin-bottom : 5px;
	height : 15%;
}
div.subSectionContent {
	padding : 0.5em;
}

	div.infoContentLine {
		clear : both;
		float : none;
		line-height : 2em;
	}
		div.infoContentLineTitle {
			clear : left;
			float : left;
			width : 47%;
		}
		div.infoContentLineContent {
			clear : right;
			float : right;
			text-align : center;
			margin-left : 5px;
		}
			#cityLabel {
				clear : left;
				float : left;
			}
			#showCityOptions {
				clear : right;
				float : right;
				font-size : 10px;
			}
			#cityOptionsNote {
				font-size : 13px;
				color : #444444;
			}
		input.infoInput {
			width : 6em;
		}
		input.gameInfoInput {
			width : 6em;
			display : none;
		}
		span.gameInfoSpan, span.gameLocationInfoSpan {
			width : 6em;
			font-style : italic;
			font-size : 15px;
		}
		span.gameLocationInfoSpanGrey {
			width : 6em;
			font-style : italic;
			font-size : 15px;
			color : #BBBBBB;
		}



#itemsList {
}
#addhint {
	clear : left;
	float : left;
}

table.itemsTable {
	width : 95%;
}
table div.itemIcon {
	text-align : center;
}
table div.itemIcon img {
	height : 27px;
}
table.itemsTable th {
	text-align : center;
}
table.itemsTable tr.unselected {
	background-color : white;
	cursor: pointer;
}
table.itemsTable tr.selected {
	background-color : #FFAAFF;
	cursor: default;
}
table.itemsTable tr.associatedBonus {
	background-color : #FFFFAA;
}

span.itemInfo {
	float : right;
}
div.littleLink {
	font-size : 10px;
	text-align : center;
	cursor: default;
}
div.littleLink a:visited {
	text-decoration : none;
	color : blue;
}
div.littleLinkDisabled {
	font-size : 10px;
	color : grey;
	text-align : center;
}

