<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns:wicket="http://wicket.apache.org/">
	<body>
		<wicket:panel>
			<div id="mainButtons-div">
				<div class="left-button-div">
					<wicket:message key="menuPanel.createGameIntro"/>
					<a id="createGame-button" href="#" wicket:id="createGameLink">
						<wicket:message key="menuPanel.createGame"/>
					</a>
				</div>
				<div class="center-button-div">
					<wicket:message key="menuPanel.seeGamesIntro"/>
					<a id="viewActiveGames-button" href="#" wicket:id="viewNotFinishedGamesLink">
						<wicket:message key="menuPanel.seeGames"/>
					</a>
				</div>
			</div>
		</wicket:panel>
	</body>
</html>