<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns:wicket="http://wicket.apache.org/">
<body>

<wicket:panel>
    <div class="game-list">
    	<div wicket:id="gamesListBox">
			<ul>
				<li wicket:id="gamesList" class="gameDetails">
					<span wicket:id="gameDetails" />
				</li>
			</ul>
		</div>
		
		<div wicket:id="paginationLinks"/>
			
<!--    	<div wicket:id="noResults">-->
<!--        	<span><wicket:message key="gameListPanel.noResults"/></span>-->
<!--    	</div>-->
		
	</div>
</wicket:panel>

</body>
</html>
